@import url("reset.css");
@import url("global.css");
@import url("./components/pills.css");
@import url("./components/navigator.css");
@import url("./components/link-button-play.css");
@import url("./components/gallery.css");
@import url("/assets/css/responsivity.css");
@import url("./backgrounds.css");


.s-wrapper .s-left-column {
    width: 70px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    
    z-index: 1;
}

.s-wrapper .s-main-content {
    width: 100%;

    padding-left: 100px;
    
    display: flex;
    flex-direction: column;
}

.s-wrapper .s-main-content .s-main-content__top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.s-wrapper .s-main-content__bottom {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
}

.s-wrapper .s-main-content .s-logo img {
    margin-top: 50px;
    margin-bottom: 30px;
    max-width: 55vw;
}

.s-wrapper .s-main-content__top .s-description {
    background-color: rgba(0, 0, 0, .7);
    width: 60%;
    padding: 20px;
    border-radius: 10px;
}

.s-wrapper .s-main-content__top .s-description .s-description__text p{
    color: white;
    font-size: calc(0.7rem + 0.2vw);
    text-align: justify;
    max-width: 100%;
}

.s-wrapper .s-main-content__top .s-description .s-description__text p strong {
    font-size: calc(0.7rem + 0.2vw);
}

.s-wrapper .s-main-content__top .s-description .pills {
    margin-bottom: 15px;
}




